<auth-title title="Change password"></auth-title>
<form
  class="flex flex-col gap-6 my-6"
  (ngSubmit)="onSubmit()"
  [formGroup]="changePasswordForm"
>
  <shared-form-field
    fieldName="password"
    label="Password"
    type="password"
    placeholder="At least 8 characters"
    module="auth"
    [formGroup]="changePasswordForm"
  ></shared-form-field>

  <shared-form-field
    fieldName="repeatPassword"
    label="Confirm password"
    type="password"
    placeholder="Confirm password"
    module="auth"
    [formGroup]="changePasswordForm"
  ></shared-form-field>

  <shared-button text="Confirm"></shared-button>
</form>
