<auth-title title="Sign In"></auth-title>
<form
  class="flex flex-col gap-6 my-6"
  (ngSubmit)="onSubmit()"
  [formGroup]="signInForm"
>
    <shared-form-field
      fieldName="email"
      label="Email address"
      type="text"
      placeholder="e.g. alex@email.com"
      module="auth"
      [formGroup]="signInForm"
    ></shared-form-field>

    <shared-form-field
      fieldName="password"
      label="Password"
      type="password"
      placeholder="Enter your password"
      module="auth"
      [formGroup]="signInForm"
    ></shared-form-field>

  <shared-button text="Access"></shared-button>

  <div class="flex flex-col gap-2 py-4 border-y-2">
    <p class="text-center text-sm">Or sign in with: </p>
    <auth-social-media
      urlPhoto="https://www.svgrepo.com/show/475656/google-color.svg"
      text="Google"
      alt="Logo Google"
    ></auth-social-media>

    <auth-social-media
      urlPhoto="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/github.svg"
      text="Github"
      alt="Logo Github"
    ></auth-social-media>
  </div>
</form>

<auth-navigatation
  [text]="'Don’t have an account? '"
  [url]="'/auth/sign-up'"
  [destination]="'Sign up'"
></auth-navigatation>
