<div [formGroup]="formGroup" class="flex flex-col gap-2">
  <div
    class="flex justify-between"
  >
    <label class="text-sm" [for]="fieldName">{{ label }}</label>
    <span *ngIf="isInvalidField(fieldName)" class="text-sm text-red-500">
      {{ errorsField(fieldName) }}
    </span>
  </div>
  <input
    [type]="type"
    [id]="fieldName"
    [placeholder]="placeholder"
    class="p-[10px] border rounded-md"
    [formControlName]="fieldName"
    [ngClass]="{ 'border-red-500': isInvalidField(fieldName) }"
  />
</div>
